h1 {
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(32, 25, 15);
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 80px;
  text-align: center;
}

h2 {
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(32, 25, 15);
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
}

h3 {
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}

p,
li {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-align: center;
}
